body{
    background-color: aliceblue;
    font-family: "Arial Narrow";
}
p{
    margin-bottom: 30px;
    margin-outside: 20px;
    text-align: center;
}
input{
    background-color: whitesmoke;
}
table{
    margin-left: auto;
    margin-right: auto;

}
h1,h2{
    text-align: center;
}

input {
      padding: 4px;
      margin-bottom: 1px;
}
form{
    text-align: center;
}