<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Advertisement</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
</head>
<body>
<p><a href="/dologin">Back to Home</a></p>

<h2>Post New Advertisement</h2>
    <form action="/advertisement" method="POST">
        <p>Title: <input type="text" name="title" required="required"/></p>
        <p>Description: <input type="text" name="description" required="required"/></p>
        <p>Category:
        <select name="category" id="category">
              {% for category in categories %}
              <option value="{{category[0]}}">{{ category[1] }}</option>
              {% endfor %}
          </select></p>
        <p><input type="submit" name="Add advertisement" value="Post Advertisement"/></p>

<h2>Previous Advertisements</h2>

        <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Activate/Deactivate</th>
        </tr>
        {% for record in records %}
            <tr>
            <td>{{record[1]}}</td>
            <td>{{record[2]}}</td>
            <td>{{record[3]}}</td>
            {% if record[4] == 1 %}
            <td><a href="/deactivate?id={{record[0]}}">Deactivate</a></td>
            {% else %}
           <td><a href="/activate?id={{record[0]}}">Activate</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </form>

</body>
</html>