<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Advertisement</title>
</head>
<body>
<!--reminder: merge two forms into one-->
<h2>Add new advertisement</h2>
    <form action="/advertisement" method="POST">
        <p>Title: <input type="text" name="title"></p>
        <p>Description: <input type="text" name="description"></p>
        <p><input type="submit" name="Add advertisement"></p>
<!--        <p>Category: <input type="checkbox" name="category"></p>-->
    </form>
<h2>Previous advertisements</h2>
        <form action="/advertisement" method="POST">
        <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Activate/Deactivate</th>
        </tr>
<!--      {% if records %}-->
        {% for record in records %}
            <tr>
            <td>{{record[0]}}</td>
            <td>{{record[1]}}</td>
            <td>{{record[2]}}</td>
            {% if record[3] == 1 %}
            <td><a href="/deactivate">Deactivate</a></td>
            {% else %}
           <td><a href="/aand ctivate">Activate</a></td>
            {% endif %}
        </tr>
        {% endfor %}
<!--      {% endif %}-->
    </table>
    </form>

</body>
</html>