<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of your selected Advertisement</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
</head>
<body>
<table border="1">
        <tr>
            <th>Title</th>
            <th>{{ adData[1] }}</th>
        </tr>
         <tr>
            <th>Description</th>
             <th>{{ adData[2] }}</th>
        </tr>
        <tr>
            <th>Category</th>
            <th>{{ adData[5] }}</th>
        </tr>
          <tr>
            <th>Contact Full Name</th>
              <th>{{ contactData[0] }}</th>
        </tr>
        <tr>
            <th>Contact Email</th>
              <th>{{ contactData[1] }}</th>
        </tr>
        <tr>
            <th>Contact Telephone Number</th>
              <th>{{ contactData [2] }}</th>
        </tr>
 </table>
<label></label><a href="/dologin">Go to Home Page</a></label>
</body>
</html>