<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
</head>
<body>
<div>
    {% if  "username" not in session %}
    <p>Click <a href="/register">here</a> to Register as a new user!</p>
    <p>Already a user?<br><a href="/loginform">click here</a> to log in!</p>
    {% else %}
    <!--  Home Page | My Advertisements | My Profile | Logout  -->
        <p><a href="/dologin">Home Page</a> |
        <a href="/advertisement">My Advertisement</a> |
        <a href="/editprofile">My Profile</a> | <a href="/">Logout</a> </p>

        <form action="/showadvertisements" method="POST">
        <p>Search for active advertisements
        <input type="text" name='search' required="required"></p>
          <label for="category">Choose a category:</label>
          <select name="category" id="category">
              {% for category in categories %}
              <option value="{{category[0]}}">{{ category[1] }}</option>
              {% endfor %}
              <option value="all">All</option>
          </select>
          <br><br>
          <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% if msg!= "" or allData == [] %}
     <p id="error">{{ msg }}</p>
    {% elif data %}
    <p>{{ type }}: </p>
     <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Contact Full Name</th>
                <th>  </th>
            </tr>
            {% for rows in data %}
            <tr>
            <td>{{ rows[1] }}</td>
            <td>{{ rows[2] }}</td>
            <td>{{ rows[4] }}</td>
            <td><a href="/SeeMore/{{ rows[0] }}">See More</a></td>
            </tr>
            {% endfor %}
     </table>
    {% else %}
       {% for keys in data_dict %}
         {% if data_dict[keys] == [] %}
         <p>{{ keys }} : No Advertisements</p>
         {% else %}
           <p>{{ keys }}: </p>
           <table border="1">
                  <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Contact Full Name</th>
                      <th>  </th>
                  </tr>
                  {% for rows in data_dict[keys] %}
                  <tr>
                  <td>{{ rows[1] }}</td>
                  <td>{{ rows[2] }}</td>
                  <td>{{ rows[4] }}</td>
                  <td><a href="/SeeMore/{{ rows[0] }}">See More</a></td>
                  </tr>
                  {% endfor %}
           </table>
             {% endif %}
           {% endfor %}
    {% endif %}

</div>
</body>
</html>