<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
</head>
<body>
    <form action="/dologin" method="POST" >
            <p>Username: <input type="text" name="username" required="required"></p>
            <p>Password: <input type="password" name="pwd" required="required"></p>
            <p><input type="submit" value="Login"></p>
             {% if msg %}
             <p style="color: red;">{{ msg }}</p>
             {% endif %}
    </form>
</body>
</html>
