<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
    <script>
<!--not sure if here or in main flask-->
        function validate()
        {
        // validation of password
        // validation of username
        }
    </script>
</head>
<body>
    {% if username %}
<!--  Home Page | My Advertisements | My Profile | Logout  -->
        <p><a href="home.html">Home Page</a> |
        <a href="advertisement.html">My Advertisement</a> |
        <a href="profile.html">My Profile</a> |
        <a href="home.html">Logout</a>
    {% else %}
    <form action="/login" method="POST">
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <p><input type="submit" value="Login"></p>
    </form>

<!--        {% if username and not password %}-->
<!--            &lt;!&ndash; Display an error message for missing password &ndash;&gt;-->
<!--            <p>Please enter a password.</p>-->
<!--        {% elif password and not username %}-->
<!--            &lt;!&ndash; Display an error message for missing username &ndash;&gt;-->
<!--            <p>Please enter a username.</p>-->
<!--        {% elif not username and not password %}-->
<!--            &lt;!&ndash; Display an error message for both missing username and password &ndash;&gt;-->
<!--            <p>Please enter both username and password.</p>-->
<!--        {% endif %}-->
    {% endif %}
</body>
</html>
