<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel = 'stylesheet' type="text/css" href="/static/style.css">
    <script type = "text/javascript" src="/static/script.js"></script>
</head>
<body>
 <p><a href="/dologin">Back to Home</a></p>
 <h1>Register</h1>
    <form action="/register" method="POST" onsubmit="return validate({{ unames }});">
        <p>Username: <input id="uname" type="text" name="username" required="required"></p>
        <p>Password: <input id="pass" type="password" name="pwd" required="required"></p>
        <p>Full name: <input type="text" name="Full name" required="required"></p>
        <p>Email address: <input type="email" name="Email address" required="required"></p>
        <p>Telephone number: <input type="tel" name="Telephone number" required="required"></p>
        <p><input type="submit" value="Register"></p>
        <p id="msg"></p>
    </form>
</body>
</html>