<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = 'stylesheet' type="text/css" href="../static/style.css">
    <script>
        function validate()
        {
        // check all the entries
        // check password format
        // check uniqueness of username
        }
    </script>
</head>
<body>

    <form action="/register" method="POST">
        <p>Username: <input type="text" name="username" required="required"></p>
        <p>Password: <input type="password" name="password" required="required"></p>
        <p>Full name: <input type="text" name="Full name" required="required"></p>
        <p>Email address: <input type="email" name="Email address" required="required"></p>
        <p>Telephone number: <input type="tel" name="Telephone number" required="required"></p>
        <p id="p1" onsubmit="validate()"><input type="submit" value="Register"></p>
    </form>
</body>
</html>