<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if msg!= "" %}
 <p style="color: red;">{{ msg }}</p>
{% else %}
<p>{{ type }}: </p>
 <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Contact Full Name</th>
            <th>  </th>
        </tr>
        {% for rows in data %}
        <td>{{ rows[1] }}</td>
        <td>{{ rows[2] }}</td>
        <td>{{ rows[4] }}</td>
        <td><a href="/SeeMore/{{ rows[0] }}">See More</a></td>
        {% endfor %}
 </table>
{% endif %}
</body>
</html>